<!DOCTYPE html>
<html>
<head>
	<title> test1</title>
	<link rel="stylesheet" type="text/css" href="reset/reset.css">
	<link rel="stylesheet" type="text/css" href="css/test1.css">
</head>
<body>

<div class ="wrapper">
	<header>
		<h1>live South Africa 2010</h1>
		
	</header>

<main>


<nav>
	
		<ul>


			<li><a href="#">WorldCup Homepage</a></li>
			<li><a href="#">El Blog</a></li>
			<li><a href="#">A list Apart</a></li>
			<li><a href="#">SimpleBits</a></li>
			<li><a href="#">Semantic!</a></li>
			

		
		</ul>
	


</nav>
	
<div id="banner">
	<img src="sample/images/banner.jpg">

</div><!--end banner--> 


<form>
	 <h2>Sign up!</h2>
	 <p>to get the latest news</p>
	
	<label>E-Mail</label><br>
	<input type="text" for ="email"></input><br>
	<label>Full name</label>
	<input type="text" for ="fullname"></input> 

</form>

<section class="live">
	<h2>Live South Africa</h2>
	<img src="sample/images/logo_fifa.jpg">
	<p>It will not just be the stadiums that will be full during the world Cup this year,as South Africa's art gallery prepare for the influx of tourist on june and july...</p> 
	
	
	
	</section><!--end live-->


<section class="ticket">
	<img src="sample/images/picture_ticket.jpg">


</section><!-- end ticket--> 

</main>
	

</div> <!--end  wrapper-->

</body>
</html>