<!DOCTYPE html>
<html>
<head>
	<title>galery</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/global.css">

</head>
<body>
<div class="wrapper">



<div class="gallery">


	<ul class="itemsList">
		<li><img src="images/owl.jpeg"></li>
		<li><img src="images/owl1.jpeg"></li>
		<li><img src="images/owl2.jpeg"></li>
		<li><img src="images/owl3.jpeg"></li>
	</ul>
	<img class="previousBtn" src="images/arrow2.png">
	<img class="nextBtn" src="images/arrow.png"> 
</div><!--end content-->

</div>

<script src="js/gallery.js"></script>
</body></html>