<!DOCTYPE html>
<html>

<head><link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/css.css">
</head>
<body>
	<div class="wrapper">
		<header>

			<img src="css/logo.jpg">

			<input type="search">
		</header>

		<nav>

			<ul>
				<li><a href="#">home</a></li>
				<li><a href="#">company</a></li>
				<li><a href="#">services</a></li>
				<li><a href="#">products</a></li>
				<li><a href="#">solutions</a></li>
				<li><a href="#">portfolio</a></li>
				<li><a href="#">contacts</a></li>
			</ul>
		</nav>
		<div class="banner">
			<img src="css/banner.jpg">
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</div><!--end banner-->

		<section class="welcome">
		<h2>Welcome!</h2>
		<img src="css/welcome.jpg">
		<p>Our company provides  different services from simple planning to the process of building. Welcome to our world where yuo can  find your perfect  building</p>
		<p>saepe eveniet ut et voluptates estu repudiandae sint et molestiae non recusandaeltaque earum rerum hic</p>
		<a href="#">read more </a>

		</section><!-- end welcome-->
		<section class="solutions">
			<h2>Solutions Overview</h2>
			<img src="css/solutions.jpg">
			<p>Modern architectural companies offer the widw range of services in the sphere of design and building</p>
			<p>Doloresed repeledusempquibusdamet aut rerum odes necessitatibus saepe eveniet ut eut voluptates estu repudiandae sint et molestiae non recusandaeltaque earum </p>
			<a href="#">read more</a>
		</section><!--end solutions-->
		<section class="projects">
			<h2>Latest Projects</h2>

			<div class="photos">
				<img src="css/img1.jpg">
				<img src="css/img2.jpg">
				<img src="css/img3.jpg">
				<img src="css/img4.jpg">

			</div>
			
			<ul>
				<li><a href="#"></a></li>
				<li><a href="#"></a></li>
			</ul>
		</section><!--end projects-->
		<section class="services">
			<h2>Services Overview</h2>
			<p>We provide a wide range of different services including architectural and non-architectural services. Our services and materials are of the premium quality &#38; that is why our company has perfect reputation in the sphre of architecture. </p>


			<ul>  	
			<li><a href="#">01.Predesign</a></li>	
			<li><a href="#">02.Schematic Design</a></li> 
			<li><a href="#">03.Design development</a></li> 
			<li><a href="#">04.Constructor documents</a></li>
			</ul>

			<ul>  	
			<li><a href="">05.Rezoning</a></li>
			<li><a href="#">06.Project development</a></li>
			<li><a href="#">07.Building assessment</a></li>
			<li><a href="#">08.Engineering</a></li> 
			</ul>

		


		</section><!--end services-->
		<section class="testimonial">
			<h2>Testimonials</h2>
			<p><span>"Mam libero tempore massasoluta nobis est eligenti</span> omnis volutas volutasassumenda est, omnis doloresed repeledusempquibusdamet aut rerum odes. ncessitatibus saepe eveniet eu ut voluptates estu repudiandae sint et molestiae non recusandaeltaque earum rerum hic" </p>
			<p><span>Mr. John Smith</span>(manager)</p>
			<a href="#">08-08-2010</a><br>
			<a href="#">View all</a>
		</section><!--end testimonials-->
		<footer>

			<div class="search">
			<h4>Newsletter</h4>
			<input type="search">
			
			</div><!--end search-->

			<h3>About Us</h3><h3>Studies</h3><h3>Graphics</h3>
		<ul>
			<li><a href="#">COMPANY INFO</a></li>
			<li><a href="#">SERVICES</a></li>
			<LI><a href="#">CLIENTS</a></LI>
			<LI><a href="#">SOLUTIONS</a></LI>
		</ul>


			
			<ul>
				<li><a href="#">PROGRAMMING</a></li>
				<li><a href="#">FACILITY ASSESSMENTS</a></li>
				<li><a href="#">ADA STUDIES</a></li>
			</ul>
			
			<ul>
				<li><a href="#" >Rendering</a></li>
				<li><a href="#">Signage</a></li>
				<li><a href="#">Marketing materials</a></li>
			</ul>
			


		</footer>

			

	</div><!--end wrapper-->
</body>
</html>