<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/global.css">
	<link rel="stylesheet" type="text/css" href="iconic.css">
</head>
<body>

<nav>
	<ul class="menu">
		<li><a href=""><span class="iconic home"></span> home</a></li>
		<li><a href=""><span class="iconic plus-alt"></span>about</a>

			<ul>
				<li><a href="">Company History</a></li>
				<li><a href="">Meet the team</a></li>
			</ul>


		</li>
		
		
		<li><a href="">Services</a>
	
			<ul>
				<li><a href="">Web Design</a></li>
				<li><a href="">App Development</a></li>
				<li><a href="">Email Campaigns</a></li>
				<li><a href="">Copyrighting</a></li>
			</ul>

		</li>	

		<li><a href=""><span class="iconic map-pin"></span> products</a>
		
			<ul>
				<li><a href="">Widget one</a></li>
				<li><a href="">Widget two</a></li>
				<li><a href="">Web App Three</a></li>
				<li><a href="">Web App Four</a></li>
				<li><a href="">Crazy Products </a></li>
				<li><a href="">iPhone Apps</a></li>
			</ul>
		<li><a href=""><span class="iconic mail"></span> contact</a>
		
			<ul>
				<li><a href="">Contact Us</a></li>
				<li><a href="">Directions</a></li>
			</ul>
		</li>
	</ul>
</nav> 
	




</body>
</html>